@charset "UTF-8";
@-moz-document url(chrome://browser/content/browser.xhtml) {
    :root{
        --margin: 0.8rem;
        --rounding: 10px;
        --outline-col: #fafafa30;
        --shadow-col: #00000020;
        --shadow: 2px solid var(--shadow-col);
    }
    #sidebar-select-box {
        width: 1px !important;
        max-width: 1px !important;
        min-width: 1px !important;
        transition: all 0.5s ease;
        }
        #sidebar-select-box:hover {
        width: 42px !important;
        max-width: 42px !important;
        min-width: 42px !important;
        }
    }

    #nav-bar {  
        /* customize this value. */ 
        --navbar-margin: -40px; 
        margin-top: var(--navbar-margin);
        margin-bottom: 0; 
        z-index: -100; 
        transition: all 0.5s ease !important; 
        width: 30%;
        margin-left: auto;
        margin-right: auto;
        border-radius: var(--rounding);
        }
        #navigator-toolbox:focus-within > #nav-bar,
        #navigator-toolbox:hover > #nav-bar { 
            margin-top: 0; 
            margin-bottom: var(--navbar-margin);
            z-index: 100; 
            opacity: 1;
            width: 30%;
            margin-left: auto;
            margin-right: auto;
        }

    #sidebar-splitter {
        display: none;
    }

    #sidebar-box {
        transition: all, 0.5s;
    }
    :root[titlepreface="="] #sidebar-box {
            min-width: 0px !important;
            width: 0px !important;
    }
    :root[titlepreface="-"] #sidebar-box {
      min-width: 0px !important;
      width: 50px !important;
    }

    #sidebar-header {
        display: none;
    }
    #appcontent browser{
        margin: var(--margin);
        border-radius: var(--rounding);
        border: var(--outline);
        outline: var(--shadow);
      }
    #TabsToolbar {
        display: none;
    }

    #urlbar:is([breakout][breakout-extend]){
        position: fixed !important;
      
        bottom: auto !important;
        top: 20vh !important;
        
        left: 18vw !important;
        width: 64vw !important;
        
        /* background */
        &:before{
          content: "";
          position: fixed;
          pointer-events: none;
          
          width: 100vw;
          height: 100vh;
          
          top: 0px;
          left: 0px;
          
          background-color: var(--bg-col);
          opacity: 0.7;
          backdrop-filter: blur(300px);
        }
    }

    #unified-extensions-view{
        --uei-icon-size: 16px;
      }
      .unified-extensions-item-menu-button.subviewbutton{
        padding: 0px !important;
        margin-inline-end: 0 !important;
      }
      .unified-extensions-item-menu-button.subviewbutton > .toolbarbutton-icon{
        padding: 2px !important;
      }
      .unified-extensions-item-message-deck{
        display: none
      }
      #unified-extensions-view > vbox > vbox > .unified-extensions-item{
        padding-block: 0px !important;
      }
      #unified-extensions-panel .unified-extensions-item{
        margin-block: 0 !important;
      }

      
}
